@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Claim Form</h1>
    <p class="lead">Welcome to QORData Claim Form Application.</p>
    <p><a href="https://www.qordata.com/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

